<div class="rowContainer" style="grid-column: 1 / 13;">
    <input type="hidden" name="matchId" value=<%- match.id %>> 
    <label class="date"></label>
    <div class="playerImg imgLeft"></div>
    <label class="player"><%-match.playerA1%></label>
    <label class="player"><%-match.playerA2%></label>
    <button name="submitMatchButton" class="button_big row_entry_button">eintragen</button>
    <label class="player"><%-match.playerB1%></label>
    <label class="player"><%-match.playerB2%></label>
    <div class="playerImg imgRight"></div>
</div>