<div class="rowContainer" style="grid-column: 1 / 13;">
    <label class="date"><%- match.finishDate %> </label>
    <div class="playerImg imgLeft"></div>
    <label class="player"><%- match.playerA1 %></label>
    <label class="player"><%- match.playerA2 %></label>
    <label class="score"><%- match.scoreA %></label>
    <label class="score"><%- match.scoreB %></label>
    <label class="player"><%- match.playerB1 %></label>
    <label class="player"><%- match.playerB2 %></label>
    <div class="playerImg imgRight"></div>
  </div>